.portfolioProjectwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 90vh;
  // background-color: red;
  /* margin: 16vw; */
}

.projectImg {
  width: 100%; 
  flex: 1;
  // background-color: red; 
}


.projectImg img{
  width: 100%;
}


.projectImg button {
 border: none;
 background: none;
 outline: none;
 cursor: pointer;
}

.projectDesc {
  display: flex;
  // align-items:center; 
  width: 35%;
  transform: translateX(-90px);

  align-content: center;
 /* flex: 1; */
 /* background-color: green; */

}

.projectDesc a {
  margin-top: 50vh;
  text-decoration: none;
}


.projectDesc h2 {
  color: var(--textColor);
  background-color: var(--bgColor);
  /* padding-top: 200px; */
  font-size: var(--portfolioTitleSize);
  text-transform: uppercase;
  /* margin-bottom: 20px; */
}

.projectDesc li {
  color: #5efc8d;
  font-size: 30px;
  font-weight: 100;
  list-style: none;
  margin-top: 10px;
  margin-left: 1px;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .rightmenu {
    display: none;
  }

  .portfolioProjectwrapper ,.presentation ,.projectDesc  {
    display: block;
    
  }

  .projectDesc {
    width: 100%;
    }
  
    .projectDesc {
      transform: translateX(0px);
    }

    .portfolioProjectwrapper {
      width: 90vw;
     
    }

}

