.mainArticlePreviewBox {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}



.imgContent {
  display: flex;
  justify-content: center;
  
}

.mainArticlePreviewBox p {
  font-size: 15px;

}

.mainArticlePreviewBox img {
  width: 55vw;
}


.blogPresentationTxt h2 {
  text-align: center;
  margin: 30px 0;
  
}

.blogPresentationTxt {
  padding: 20px 0;
  width: 60vw;
}