*
{
    margin:0;
    padding: 0;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* cursor: none; */
    scroll-behavior: smooth;
    /* overflow-x:hidden; */
    font-family: var( --text);
}

.dark-theme {
  --pimaryColor: rgb(115, 76, 187);
  --secondaryColor: #5efc8d;
  --bgColor: #000;
  --textColor:  #fff;
  
}

.light-theme {
  --pimaryColor:#69ebcf;
  --secondaryColor: brown;
  --bgColor: rgb(255, 237, 213);
  --textColor: rgb(56, 56, 56);
}

.dark-theme  , .light-theme   {
  --title: 'Syncopate', sans-serif;
  --text: 'PT Sans Caption', sans-serif;
  --pSize: 20px;
  --titleSize: 20px;
  --portfolioTitleSize: 120px;
}

@media screen and (max-width: 768px) {
  .dark-theme  , .light-theme   {
    --pSize: 30px;
    --titleSize:20px;
    --portfolioTitleSize: 50px;
  }
}


/* Global */

h1 , h2 {
    font-size: 30px;
    font-family: var(--title);
    color: var(--textColor);
}

p {
    color: var(--textColor)!important;
    font-size: var(--pSize);

}



body {

  background-color: var(--bgColor)!important;
  overflow-x: hidden;

  
}

section {

    width: 100vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}



.section-2 {

  background-color: var(--pimaryColor);
}

.section-2 h2{

    font-size:  6vw;
}

.screen {
    background-color: var(--pimaryColor);

    
}
.content p {
  
    font-weight: 100;
    font-family: var( --text);
    text-align: justify;
    list-style: none;
    // margin: 0 10vw 10vw 0 ;
  }

  .presentation {
      display: flex;
      width: 80vw;
  }

  .presentation-txt {
    width: 70vw;

  }
  .presentation img {
    transform: translateX(0vw);
    max-height: 40vh;
    order: 1;

  }


  // projet portfolio
  
  .portfolioProjectwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
     margin: 16vw; 
  }
  
  .projectImg {
    /* width: 50%; */
    flex: 1;
    /* background-color: red; */
  }
  
  
  .projectImg button {
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
  }
  
  .projectDesc {
    display: flex;
   /* padding-bottom: 600px; */
    width: 50%;
  
    align-content: center;
   /* flex: 1; */
   /* background-color: green; */
  
  }
  
  .projectDesc a {
    margin-top: 50vh;
    text-decoration: none;
  }
  
  .projectImg img{
    width: 70%;
  }
  
  .projectDesc h2 {
    color: #69ebcf;
    /* padding-top: 200px; */
    font-size: 40px;
    font-family: 'Krona One';
    /* margin-bottom: 20px; */
  }
  
  .projectDesc li {
    color: #5efc8d;
    font-size: 30px;
    font-weight: 100;
    list-style: none;
    margin-top: 10px;
    margin-left: 1px;
    top: 0px;
  }
  

#themeSwitcher {
  background-color: var(--bgColor);
}
  
  
  
  // projet portfolio


  open-nav {
    height: 100vh;
    background-color: var(--bgColor);
  }
  
@media screen and (max-width: 768px) {
  .rightmenu {
    display: block;
  }

  .portfolio-project ,.presentation {
    display: block;
    
  }

  .front-text h1{
    font-size: 9vw;
  }

  .pdp {
    justify-content: center;
    display: flex;
  }

  .content p {
    margin: 10vw 0 ;
  }

  .presentation-txt {
    width: auto;
    text-align:justify;
    word-spacing: 5px;
    word-break: break-all;

}

@keyframes showLinksAnim {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

.show-links  {
  display: block;
  height: 100vh;
  width: 100vw;
  padding-top: 15vh;
  // position: relative;
  background-color: var(--pimaryColor);
  overflow-y: hidden;
  animation: showLinksAnim 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
  opacity: 0;

  li {
    font-size: 20px;
    // background-color: blue;
    width: 100vw;
    height: 12vh;
    margin-left: 10vw;
    opacity: 0;
  }
}

@keyframes scaleFade {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.link-animation {
  animation: scaleFade 0.3s ease-in-out forwards;
  animation-delay: 0.4s;
}

}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px) translateX(8px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px) translateX(8px);
}


.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  transform: rotate(0) translateY(0);

}

