.prefooterSection li  {

  font-size: 9vw;
  list-style: none;
  margin-bottom: 3vh;
  animation-duration: 10s;
}


.prefooterSection a   {
  color: var(--secondaryColor);
  font-family: var(--title);
}