.customButton {
    border: #69ebcf solid 3px;
    padding: 10px;
    outline: none;
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;

  }
  
  .customButton:hover {
    background-color: #69ebcf ;
    color: #000;
  }